* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color-brand-light: #59B2FF;
    --color-brand-mid: #3487CF;
    --color-brand-dark: #1D6FB6;


    --color-purple: #B259FF;
    --color-fuschia: #FF59F9;
    --color-pink: #FF598B;
    --color-orange: #FF8B59;
    --color-yellow: #FFCD59;
    --color-lime: #E1FF59;
    --color-green: #59FF91;
    --color-cyan: #59FFF9;
    --color-navy: #6A59FF;


    --color-danger: #FF5959;


    --color-input-base: #1C1F21;
    --color-input-stroke: #363B40;
    --color-input-placeholder: #869198;


    --color-shape-background: #131516;
    --color-shape-body: #212427;
    --color-shape-button: #2D3136;
    --color-shape-hover: #383D42;


    --text-primary: #C8CDD0;
    --text-secondary: #F9F9F9;




    --font-logo: 'Leckerli One', cursive;
    --font-heading: 'Baloo 2', display;
    --font-body: 'Open Sans', sans-serif;

    --head: 400 2.5rem var(--font-logo);
    --head-md: 700 1.75rem var(--font-heading);
    --head-sm: 700 1.125rem var(--font-heading);

    --text: 400 1rem var(--font-body);
    --text-sm: 400 0.875rem var(--font-body);
    --text-sm: 400 0.75rem var(--font-body);

}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}


#invite {
    display: flex;
    width: auto;
    max-width: 100vw;
    height: 100vh;
    background-color: #121212;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}


.sidebar {
    flex: 0 0 25rem;
    height: 100%;
    position: relative;
}

.sidebar-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main-container {
    width: 52rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-container>* {
    width: 100%;
    max-width: 40rem;
}

input,
textarea {
    width: 100%;
    background-color: var(--color-input-base);
    border: 1px solid var(--color-input-stroke);
    border-radius: .25rem;
    height: 3rem;
    padding-inline: 1rem;
}