.btn-upload {
    width: 9.5rem;
    align-items: center;

    height: 3rem;
    cursor: pointer;
    background-color: var(--color-shape-button);
    border-radius: .5rem;
    padding-inline: 0.75rem;
    border: 1px solid transparent;
}

.btn-upload:hover {
    border: 1px solid var(--color-brand-light);
}

.dropzone {
    position: relative;
    display: flex;
    align-items: center;

    span,
    p {
        font-weight: 400;
    }
}

.dropzone input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

